body{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    width: 20%;
    margin: 0 auto 0 auto;
}

.top{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.compic{
    width: 25%;
    float: left;
    margin-right: 20px;

}

.skill-row {
    margin: 90px auto 100px auto;
    width: 50%;
    text-align: left;
    line-height: 2;
    mar
    
}

.pro{
    text-decoration: underline;
}

.topcloud{
    position: absolute;
    left: 600px;
    top: 60px;
}

.bottom-cloud {
    position: absolute;
    right: 600px;
    bottom: 300px;
    
}