body{
    margin: 0;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    width: 20%;
    margin: 0 auto 0 auto;
}

.top{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.middle-container{
    
}

.bottom-container {

}


.pro{
    text-decoration: underline;
}

.topcloud{
    position: absolute;
    left: 600px;
    top: 60px;
}

.bottom-cloud {
    position: absolute;
    right: 600px;
    bottom: 300px;
    
}